plans for omniskill v 3/schema/omniskill-v3-plan-package.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="omniskillV3PlanningIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="project" type="xs:string"/>
              <xs:element name="targetVersion" type="xs:string"/>
              <xs:element name="planningMode" type="xs:string"/>
              <xs:element name="status" type="xs:string"/>
              <xs:element name="primaryExecutor" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="documents">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="document" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                  <xs:attribute name="file" type="xs:string" use="required"/>
                  <xs:attribute name="purpose" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="recommendedReadOrder" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="step" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="executionDirectives" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="directive" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
